* {
  padding: 0;
  margin: 0;
}

#header {
  @media (min-width: $minWidthDesktop) {
    position: fixed;
    width: 250px;
    height: 100%;
    padding-top: 20px;
    background-color: $colorMenu;
  }
  @media (max-width: $minWidthDesktop) {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: $colorMenu;
  }
}

.links {
  @media (max-width: $minWidthDesktop) {
    position: relative;
    display: grid;
    grid-template-columns: repeat(var(--items), 1fr);
  }

  a {
    font-family: $font-family-sans-serif;
    color: $colorLinks;
    @media (min-width: $minWidthDesktop) {
      display: block;
      padding: 20px 8px 6px 30px;
      font-size: 25px;
      text-decoration: none;
    }
    @media (max-width: $minWidthDesktop) {
      padding: .75em;
      text-align: center;
      text-decoration: none;
      transition: all .5s;
    }

    &:hover {
      color: white;
    }
  }
}

i + br {
  @media (min-width: $minWidthDesktop) {
    display: none; 
  }
}

.content {
  font-family: $font-family-sans-serif;
  @media (min-width: $minWidthDesktop) {
    padding: 20px 50px;
    margin-left: 250px; /* Same as the width of the header */
    font-size: 28px;
  }
  @media (max-width: $minWidthDesktop) {
    margin: 80px 20px 0px;
  }

  figure {
    display: flex;
    flex-flow: column;
    max-width: 500px;
    padding: 5px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: thin $colorRequadre solid;
  }

  figcaption {
    padding: 3px;
    font-family: $font-family-sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    background-color: $colorMenu;
  }

  picture img {
    width: 100%;
    height: auto;
    padding-top: 20px;
  }

  h1 {
    @media (min-width: $minWidthDesktop) {
      padding-bottom: 50px;
      font-size: 54px;
    }
    @media (max-width: $minWidthDesktop) {
      padding-bottom: 20px;
      font-size: 28px;
    }
  }
  
  h2 {
    margin-bottom: 1.5vh;
  }
  
  p, ul {
    @media (min-width: $minWidthDesktop) {
      font-size: 22px;
    }
    @media (max-width: $minWidthDesktop) {
      font-size: 16px;
    }
  }
  
  hr {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

.uoc-footer {
  margin-top: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
}